body{
    width: 100%;
    margin: auto;
}

#allineamento{
    width: 95%;
    margin: auto
}

.header{
    background-color: rgb(25, 166, 232);
    background-image: url(../img/pattern.png);
    background-size: 400px;
    height: 100px;
}
#logo{
  width: 150px;
   
}

#autore{
    color: rgb(25, 166, 232);
}

h1{
    margin-bottom: 0px;
    font-size: 36px;
}

.margin{
    margin-top: 0px;
    font-size: 12px;
}

#descrizione{
    font-style: bold;
}

.evidenziatore{
    background-color: yellow;
}

table{
    border-spacing: 0;
    width: 100%;
}

#elementi-tabella{
    background-color: rgb(25, 166, 232);
    text-align: left;
    color: white;
}

.colore-tabella{
    background-color: skyblue;
}

.celle{
    width: 20%;
}

#colonna{
    width: 60%;
}

#consigli{
    color: gray;
    font-weight: 800;
    margin-bottom: 5px;
}

.style{
    width: 200px;
    height: 200px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-size: cover;
    background-position: center;
}

#lorem-uno{
    background-image: url(../img/monitor.jpg);
}

#lorem-due{
    background-image: url(../img/graph.jpg);
}
